.App {
  text-align: center;
}




body{
  height: 100%;
  background-image: url("Sky_Monsters.jpg");
  background-repeat: no-repeat;
  background-size: cover;

}


.App-logo {
  height: 40vmin;
}

.App-header {
  background-image: url("bubble-background.jpg");
  background-repeat: repeat;
  background-size: contain;
  /*background: white;*/


  padding:2%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: blue;
  margin: 28%;
  border:orangered solid 10px;
  border-radius: 70px;
}



.App-link {
  color: #09d3ac;
}

.sesame-street-sign {

  background: darkblue;
  color: white;
  border: darkgoldenrod  solid 5px;
  border-radius: 30px;
  text-align:center;
  font-size: 45px;
  padding: auto;
  height: 8%;
  /*background-image: url("BrickWall_line.jpg");*/
  /*background-repeat: no-repeat;*/
  /*background-size: contain;*/



}
